# Dependency management
venv/
.venv/
env/
.env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Data (Crucial: Do not upload massive dataset to GitHub)
data/
temp_buffer.jpg
scan_buffer.jpg
temp_pro.jpg
temp_upload.jpg
active_scan.jpg

# OS files
.DS_Store
Thumbs.db

# Exclude internal dev/interview docs as requested
TECHNICAL_SPECS.md
DEVELOPMENT_LOG.md
INTERVIEW_PREP.md
DEPLOYMENT.md
src/analyze_data.py
src/utils.py

# Models (EXCLUDED DUE TO 100MB GITHUB LIMIT)
models/*.h5
